body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: linear-gradient(#e66465, #9198e5);
    background-repeat: no-repeat;
    height: 100vh;
}

img {
    max-width: 80px;
}

.list {
    display: flex;
    flex-direction: column;
    border: 5px, solid, rgb(0, 0, 0);
}